html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
}

a, a:visited {
  color: #f77;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0 0 1rem;
  text-align: center;
}

header {
  height: 1em;
  background: #722;
}

section.quote {
  width: 90%;
  max-width: 512px;
  margin: 2rem auto;
  text-align: center;
}

img {
  max-width: 100%;
}

small {
  color: #aaa;
  font-size: 0.7rem;
}

.post-nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  margin: 2rem auto;
}
.post-nav a {
  display: flex;
  justify-content: center;
}
.post-nav div:first-child a {
  justify-content: left;
}
.post-nav div:last-child a {
  justify-content: right;
}
.post-nav .big {
  font-size: 2.5em;
}
@media screen and (max-width: 400px) {
  .post-nav .words {
    display: none;
  }
}

footer {
  text-align: center;
  font-size: 0.8rem;
}